
h1, #filtros{
    text-align: center;
}

#filtros input, #filtros #estadoFiltro{
    padding: 8px 16px;
    margin: 10px;
    border: 0;
    font-size: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
} 

.divcontenedor{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;   
}

#personajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetaPersonaje{
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    
}

.tarjetaPersonaje img{
    width: 100%;
}